<div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <li class="start active ">
            <a href="index.html">
                <i class="icon-home"></i>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-envelope-open"></i>
                <span class="title">Poczta</span>
                <span class="arrow "></span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-settings"></i>
                <span class="title">Administracja</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="layout_sidbar_reversed.html">
                        <span class="title">Lektorzy</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        <li>
                            <a href="{{ path('show_lector') }}"><i class="icon-list"></i> Lista lektorów</a>
                        </li>
                        <li>
                            <a href="{{ path('add_lector') }}"><i class="icon-plus"></i> Dodaj lektora</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="layout_sidbar_reversed.html">
                        <span class="title">Pracownicy</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        <li>
                            <a href="{{ path('show_dr') }}"><i class="icon-list"></i> Lista Dr</a>
                        </li>
                        <li>
                            <a href="{{ path('add_dr') }}"><i class="icon-plus"></i> Dodaj Dr</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="layout_sidbar_reversed.html">
                        <span class="title">Rodzice</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        <li>
                            <a href="{{ path('show_parent') }}"><i class="icon-list"></i> Lista Rodziców</a>
                        </li>
                        <li>
                            <a href="{{ path('add_parent') }}"><i class="icon-plus"></i> Dodaj Rodzica</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="layout_sidbar_reversed.html">
                        <span class="title">Fiszki</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        <li>
                            <a href="{{ path('show_parent') }}"><i class="icon-list"></i> Lista Fiszek</a>
                        </li>
                        <li>
                            <a href="{{ path('add_fiche') }}"><i class="icon-plus"></i> Dodaj Fiszkę</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="layout_sidbar_reversed.html">
                        <span class="title">Szkoły</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        <li>
                            <a href="{{ path('show_school') }}"><i class="icon-list"></i> Lista Szkół</a>
                        </li>
                        <li>
                            <a href="{{ path('import_school') }}"><i class="icon-list"></i> Importuj Szkoły</a>
                        </li>
                        <li>
                            <a href="{{ path('add_school') }}"><i class="icon-plus"></i> Dodaj Szkołę</a>
                        </li>
                        <li>
                            <a href="{{ path('assign_dr_to_school') }}"><i class="icon-plus"></i> Przypisz DR</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="layout_sidbar_reversed.html">
                        <span class="title">Grupy</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu" style="display: none;">
                        <li>
                            <a href="{{ path('show_group') }}"><i class="icon-list"></i> Lista Grup</a>
                        </li>
                        <li>
                            <a href="{{ path('add_group') }}"><i class="icon-plus"></i> Dodaj Grupę</a>
                        </li>
                        <li>
                            <a href="{{ path('assign_lector_to_group') }}"><i class="icon-plus"></i> Przypisz Lektora</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-briefcase"></i>
                <span class="title">Harmonogram zajęć</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="ui_general.html">
                        Plan zajęć</a>
                </li>
                <li>
                    <a href="ui_buttons.html">
                        Tematy zajęć</a>
                </li>
                <li>
                    <a href="ui_icons.html">
                        Obecności</a>
                </li>
                <li>
                    <a href="ui_colors.html">
                        Lista dzieci</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;">
                <i class="icon-wallet"></i>
                <span class="title">Finanse</span>
                <span class="arrow "></span>
            </a>
            <ul class="sub-menu">
                <li>
                    <a href="components_pickers.html">
                        Rozliczenia lektorów</a>
                </li>
                <li>
                    <a href="components_context_menu.html">
                        Rozliczenia rodziców</a>
                </li>
                <li>
                    <a href="components_dropdowns.html">
                        Wpłaty rodziców</a>
                </li>
                <li>
                    <a href="components_form_tools.html">
                        Przeterminowane płatności</a>
                </li>
                <li>
                    <a href="components_form_tools2.html">
                        Wynagrodzenia pracowników</a>
                </li>
                <li>
                    <a href="components_editors.html">
                        Opłaty za najmy</a>
                </li>
            </ul>
        </li>

    </ul>
    <!-- END SIDEBAR MENU -->
</div>