{% extends "base.html.twig" %}
 {% block body %}
     {{ parent() }}
     <!-- BEGIN CONTENT -->
     <div class="page-content-wrapper">
         <div class="page-content">
             <!-- BEGIN PAGE HEAD -->
             <div class="page-head">
                 <!-- BEGIN PAGE TITLE -->
                 <div class="page-title">
                     <h1>Administracja <small>Grupy</small></h1>
                 </div>
                 <!-- END PAGE TITLE -->
             </div>
             <!-- END PAGE HEAD -->
             <!-- BEGIN PAGE BREADCRUMB -->
             <ul class="page-breadcrumb breadcrumb">
                 <li>
                     <a href="javascript:;">Administracja</a><i class="fa fa-circle"></i>
                 </li>
                 <li>
                     <a href="{{ path('show_group') }}">Grupy</a><i class="fa fa-circle"></i>
                 </li>
                 <li class="active">
                     Dodaj grupę
                 </li>
             </ul>
             <!-- END PAGE BREADCRUMB -->
             <!-- BEGIN PAGE CONTENT INNER -->
             <div id="mainBox">
                 <div id="addUser" class="portlet box green">
                     <div class="portlet-title">
                         <div class="caption">
                             <i class="fa fa-user-plus"></i>Dodawanie grupy
                         </div>
                     </div>
                     <div class="portlet-body form">
                         <!-- BEGIN FORM-->
                         <form action="{{ path('add_group') }}" method="post" enctype="multipart/form-data" class="form-horizontal" novalidate="novalidate" id="add">
                             <div class="alert alert-danger display-hide">
                                 <button class="close" data-close="alert"></button>
                                 Proszę poprawić błędy w formularzu!
                             </div>
                             <div class="form-body">
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Nazwa</label>
                                     <div class="col-md-4">
                                         <select name="name" class="form-control input-circle">
                                             <option></option>
                                             {% for i in 1..15 %}
                                                 <option value="{{ i }}">{{ i  }}</option>
                                             {%  endfor %}
                                         </select>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Szkoła</label>
                                     <div class="col-md-4">
                                         <a class="btn default" data-target="#selectSchool" data-toggle="modal">
                                             Wybierz szkołę </a>
                                         <input type="hidden" class="form-control input-circle" id="school" name="school" placeholder="Szkoła">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Zajęcia</label>
                                     <div class="col-md-4">
                                         <a class="btn default" data-target="#addLesson" data-toggle="modal">
                                             Dodaj zajęcia
                                         </a>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Lektor</label>
                                     <div class="col-md-4">
                                         <select id="select_lector" name="lector" placeholder="Lektor">
                                             <option></option>
                                             {% for lector in lectors %}
                                                 <option value="{{ lector.id }}">{{ lector.name  }}</option>
                                             {%  endfor %}
                                         </select>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Stawka za zajęcia</label>
                                     <div class="col-md-4">
                                         <input type="text" id="cost" name="cost" class="form-control input-circle" placeholder="Stawka za zajęcia">
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-md-3 control-label">Stawka zryczałtowana</label>
                                     <div class="col-md-4">
                                         <input type="text" id="sum_cost" name="sum_cost" class="form-control input-circle" placeholder="Stawka zryczałtowana">
                                     </div>
                                 </div>
                                 <div>
                                     <div>
                                         <h3>Aktualne Zajęcia</h3>
                                     </div>
                                     <div id="lessons_list">
                                     </div>
                                 </div>
                             <div>
                                 <div class="row" style="padding-bottom:10px;">
                                     <div class="col-md-offset-3 col-md-9 p-xl">
                                         <button type="submit" class="btn btn-circle blue" id="add_user">Stwórz grupę</button>
                                     </div>
                                 </div>
                             </div>
                           </div>
                         </form>
                     </div>
                 </div>
             </div>
             <div id="modalContainer">
                 <div id="selectSchool" class="modal fade" tabindex="-1" aria-hidden="true">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                         <h4 class="modal-title">Wybór szkoły</h4>
                     </div>
                     <div class="modal-body">
                         <label>Wybierz miasto</label>
                         <p>
                             <select id="select_city" name="city" placeholder="Miasto">
                                 <option></option>
                                 {% for city in cities %}
                                     <option value="{{ city.id }}">{{ city.city  }} <small>[{{ city.wojewodztwo  }}]</small></option>
                                 {%  endfor %}
                             </select>
                         </p>
                         <label>Wybierz szkołę</label>
                         <p>
                             <select id="select_school" placeholder="Wybierz szkołę..."></select>
                         </p>
                     </div>
                     <div class="modal-footer">
                         <button type="button" data-dismiss="modal" class="btn btn-default">Anuluj</button>
                         <button type="button" data-dismiss="modal" id="selectSchoolSubmit" class="btn btn-primary">Wybierz</button>
                     </div>
                 </div>

                 <div id="addLesson" class="modal fade" tabindex="-1" aria-hidden="true">
                     <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                         <h4 class="modal-title">Dodaj zajęcia</h4>
                     </div>
                     <div class="modal-body">
                             <label class="col-md-3 control-label">Dzień</label>
                             <select id="select_day" placeholder="Dzień">
                                 <option></option>
                                 {% for day in days %}
                                     <option value="{{ day.id }}">{{ day.name  }}</option>
                                 {%  endfor %}
                             </select>
                             <label class="col-md-3 control-label" style="margin-top:10px;">Godzina</label>
                             <input type="text" id="select_hour" class="form-control input-circle" name="hour" placeholder="Godzina">

                             <label class="col-md-3 control-label" style="margin-top:10px;">Numer Sali</label>
                             <input type="text" id="select_room" class="form-control input-circle" placeholder="Sala">
                     </div>
                     <div class="modal-footer">
                         <button type="button" data-dismiss="modal" class="btn btn-default">Anuluj</button>
                         <button type="button" data-dismiss="modal" id="addLessonSubmit" class="btn btn-primary">Wybierz</button>
                     </div>
                 </div>
             </div>
         </div>
     </div>
 {% endblock %}
 {%  block stylesheets %}
     {{  parent () }}
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/selectize/selectize.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/bootstrap-modal/css/bootstrap-modal-bs3patch.css') }}">
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/bootstrap-modal/css/bootstrap-modal.css') }}">
 {% endblock %}
 {% block javascripts %}
     {{  parent() }}
     <script type="text/javascript" src="{{ asset('assets/global/plugins/select2/select2.min.js') }}"></script>
     <script src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
     <script src="{{ asset('assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}" type="text/javascript"></script>
     <script src="{{ asset('bundles/admin/js/Group/validation/add-validation.js') }}" type="text/javascript"></script>
     <script type="text/javascript" src="{{ asset('assets/global/plugins/selectize/selectize.js') }}"></script>
     <script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap-modal/js/bootstrap-modalmanager.js') }}"></script>
     <script type="text/javascript" src="{{ asset('assets/global/plugins/bootstrap-modal/js/bootstrap-modal.js') }}"></script>
     <script>
         $(document).ready(function(){
             var xhr;
             var select_city, $select_city;
             var select_school, $select_school;

             $select_city = $('#select_city').selectize({
                 onChange: function(value) {
                     if (!value.length) return;
                     select_school.disable();
                     select_school.clearOptions();
                     select_school.load(function(callback) {
                         xhr && xhr.abort();
                         xhr = $.ajax({
                             type: "POST",
                             url: '{{ path('get_school_by_city') }}',
                             data: $( "#select_city" ).serialize(),
                             success: function($data) {
                                 select_school.enable();
                                 var response= JSON.parse($data);
                                 var collection = [];
                                 $.each(response, function(i, row) {
                                     collection.push({
                                         text : row.name,
                                         value: row.id
                                     });
                                 });
                                 callback(collection);
                             },
                             error: function() {
                                 callback();
                             }
                         })
                     });
                 }
             });
             $select_day = $('#select_day').selectize();
             $select_school = $('#select_lector').selectize();
             $select_school = $('#select_school').selectize();
             select_school  = $select_school[0].selectize;
             select_school.disable();

             $('#selectSchoolSubmit').click(function(){
                 $selectedSchool = $('#select_school').val();
                 $('#school').val($selectedSchool);
             });

             $('#addLessonSubmit').click(function(){
                 $day = $('#select_day').text();
                 $dayId = $('#select_day').val();
                 $hour = $('#select_hour').val();
                 $class = $('#select_room').val();
                 $('#lessons_list').append('' +
                         '<div class="form-group"><label class="col-md-3 control-label">Dzień</label><div class="col-md-4"><input type="text" class="form-control input-circle" data-day_id="' + $dayId + '" name="day[]" value="' + $day + '" disabled></div></div>' +
                         '<div class="form-group"><label class="col-md-3 control-label">Godzina</label><div class="col-md-4"><input type="text" class="form-control input-circle" name="hour[]" value="' + $hour + '" disabled></div></div>' +
                         '<div class="form-group"><label class="col-md-3 control-label">Numer Sali</label><div class="col-md-4"><input type="text" class="form-control input-circle" name="class[]" value="' + $class + '" disabled></div></div>' +
                         '<hr>');
             });

             FormValidation.init('{{ path('add_group') }}');
             jQuery.extend(jQuery.validator.messages, {
                 required: "To pole jest wymagane",
                 email: "Proszę podać poprawny adres mailowy",
                 number: "Proszę podać poprawny numer telefonu",
                 digits: "Proszę podać cyfrę",
                 lettersonly: "Proszę podać literę"
             });
         })
     </script>
 {% endblock %}

