{% extends "base.html.twig" %}
 {% block body %}
     {{ parent() }}
         <!-- BEGIN CONTENT -->
         <div class="page-content-wrapper">
             <div class="page-content">
                 <!-- BEGIN PAGE HEAD -->
                 <div class="page-head">
                     <!-- BEGIN PAGE TITLE -->
                     <div class="page-title">
                         <h1>Administracja <small>Szkoły</small></h1>
                     </div>
                     <!-- END PAGE TITLE -->
                 </div>
                 <!-- END PAGE HEAD -->
                 <!-- BEGIN PAGE BREADCRUMB -->
                 <ul class="page-breadcrumb breadcrumb">
                     <li>
                         <a href="javascript:;">Administracja</a><i class="fa fa-circle"></i>
                     </li>
                     <li class="active">
                         Szkoły
                     </li>
                 </ul>
                 <!-- END PAGE BREADCRUMB -->
                 <!-- BEGIN PAGE CONTENT INNER -->
                 <div id="mainBox">
                     <div class="row">
                         <div class="col-md-12">
                             <div class="portlet light">
                                 <div class="portlet-title">
                                     <div class="caption">
                                         <i class="fa fa-gift font-green-sharp"></i>
                                         <span class="caption-subject font-green-sharp bold uppercase">Lista Szkół</span>
                                     </div>
                                 </div>
                                 <div class="portlet-body">
                                     <div class="table-container" style="">

                                         <div id="datatable_ajax_wrapper" class="dataTables_wrapper dataTables_extended_wrapper no-footer">
                                                     <div class="margin-bottom-5" style="display: inline; float: left; padding-right: 15px;">
                                                         <button class="btn btn-sm yellow filter-submit margin-bottom" id="search"><i class="fa fa-search"></i> Szukaj</button>
                                                     </div>
                                                 <div class="margin-bottom-5">
                                                     <button class="btn btn-sm green filter-submit margin-bottom" id="addToDR"><i class="fa fa-user"></i> Przypisz do DR</button>
                                                 </div>

                                         <div class="table-scrollable"><table class="table table-striped table-bordered table-hover dataTable no-footer" id="datatable_ajax" aria-describedby="datatable_ajax_info" role="grid">
                                                     <thead>
                                                     <tr role="row" class="heading">
                                                         <th width="2%" class="sorting_disabled" rowspan="1" colspan="1">
                                                             <div class="checker"><span><input type="checkbox" class="group-checkable"></span></div>
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Województwo
                                                         </th>
                                                         <th width="5%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Powiat
                                                         </th>
                                                         <th width="5%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Gmina
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Miasto
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Nazwa
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Adres
                                                         </th>
                                                         <th width="5%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Kod pocztowy
                                                         </th>
                                                         <th width="5%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Poczta
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Telefon
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             WWW
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Publiczność
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Liczba uczniów
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Liczba klas
                                                         </th>
                                                         <th width="10%" class="sorting" tabindex="0" aria-controls="datatable_ajax" rowspan="1" colspan="1">
                                                             Akcje
                                                         </th>
                                                     </tr>
                                                     <tr role="row" class="filter"><td rowspan="1" colspan="1">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <select name="wojewodztwo" class="form-control form-filter input-sm">
                                                                 <option value=""></option>
                                                                 {% for wojewodztwo in wojewodztwa %}
                                                                     <option value="{{ wojewodztwo.id }}">{{ wojewodztwo.name }}</option>
                                                                 {% endfor %}
                                                             </select>
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="powiat">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="gmina">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="city">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="name">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="address">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="zipcode">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="post">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="phone">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="www">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="publicznosc">
                                                         </td>
                                                         <td rowspan="1" colspan="1">
                                                             <input type="text" class="form-control form-filter input-sm" name="student_count">
                                                         </td>
                                                     </tr>
                                                     </thead>
                                                     <tbody>

                                                         {% for school in schools %}
                                                         <tr>
                                                             <td><input type="checkbox" name="id[]" value="{{ school.id }}"></td>
                                                             <td>{{ school.wojewodztwo }}</td>
                                                             <td>{{ school.powiat }}</td>
                                                             <td>{{ school.gmina }}</td>
                                                             <td>{{ school.city }}</td>
                                                             <td>{{ school.name }}</td>
                                                             <td>{{ school.address }}</td>
                                                             <td>{{ school.zipcode }}</td>
                                                             <td>{{ school.post }}</td>
                                                             <td>{{ school.phone }}</td>
                                                             <td>{{ school.www }}</td>
                                                             <td>{{ school.publicznosc }}</td>
                                                             <td>{{ school.student_count }}</td>
                                                             <td>{{ school.class_count }}</td>
                                                             <td>
                                                                 <button class="btn btn-sm blue filter-submit margin-bottom edit" data-school="{{ path('edit_school', {'schoolId': school.id}) }}">Edytuj</button>
                                                             </td>
                                                         </tr>
                                                         {% endfor %}
                                                     </tbody>
                                                 </table></div>

                                     </div>
                                 </div>
                             </div>
                             <!-- End: life time stats -->
                         </div>
                     </div>
                 </div>
             </div>
         </div>
 {% endblock %}
 {% block javascripts %}
     {{  parent() }}
     <script type="text/javascript" src="{{ asset('assets/global/plugins/select2/select2.min.js') }}"></script>
     <script>
         $(document).ready(function(){
             $('#search').click(function() {
                 $.ajax({
                     type: "POST",
                     url: '{{ path('filter_school') }}',
                     data: $( ".form-filter" ).serialize(),
                     success: function ($data) {
                         var response= JSON.parse($data);
                         $('#datatable_ajax > tbody tr').remove();
                         $.each(response, function(i, row) {
                             $('<tr>').append(
                                     $('<td>').html('<input type="checkbox" name="id[]" value="' + row.id + '">'),
                                     $('<td>').text(row.wojewodztwo),
                                     $('<td>').text(row.powiat),
                                     $('<td>').text(row.gmina),
                                     $('<td>').text(row.city),
                                     $('<td>').text(row.name),
                                     $('<td>').text(row.address),
                                     $('<td>').text(row.zipcode),
                                     $('<td>').text(row.post),
                                     $('<td>').text(row.phone),
                                     $('<td>').text(row.www),
                                     $('<td>').text(row.publicznosc),
                                     $('<td>').text(row.student_count),
                                     $('<td>').text(row.class_count),
                             ).appendTo('#datatable_ajax > tbody');

                         });

                     }
                 });
             });

             $('.edit').click(function() {
                 var schoolUrl = $(this).data('school');
                 window.location = schoolUrl;
             });
         })
     </script>
 {% endblock %}

