{% extends "base.html.twig" %}
 {% block body %}
     {{ parent() }}
         <!-- BEGIN CONTENT -->
         <div class="page-content-wrapper">
             <div class="page-content">
                 <!-- BEGIN PAGE HEAD -->
                 <div class="page-head">
                     <!-- BEGIN PAGE TITLE -->
                     <div class="page-title">
                         <h1>Administracja <small>Fiszki</small></h1>
                     </div>
                     <!-- END PAGE TITLE -->
                 </div>
                 <!-- END PAGE HEAD -->
                 <!-- BEGIN PAGE BREADCRUMB -->
                 <ul class="page-breadcrumb breadcrumb">
                     <li>
                         <a href="javascript:;">Administracja</a><i class="fa fa-circle"></i>
                     </li>
                     <li class="active">
                         Fiszki
                     </li>
                 </ul>
                 <!-- END PAGE BREADCRUMB -->
                 <!-- BEGIN PAGE CONTENT INNER -->
                 <div id="mainBox">
                     <div id="addUser" class="portlet box green">
                         <div class="portlet-title">
                             <div class="caption">
                                 <i class="fa fa-user-plus"></i>Dodawanie Fiszki
                             </div>
                         </div>
                         <div class="portlet-body form">
                             <!-- BEGIN FORM-->
                             <form action="{{ path('add_fiche') }}" method="post" enctype="multipart/form-data" class="form-horizontal" novalidate="novalidate" id="add">
                                 <div class="alert alert-danger display-hide">
                                     <button class="close" data-close="alert"></button>
                                     Proszę poprawić błędy w formularzu!
                                 </div>
                                 <div class="form-body">
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Imię Rodzica</label>
                                         <div class="col-md-4">
                                             <input type="text" class="form-control input-circle" name="name" placeholder="Wprowadź imię">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Nazwisko Rodzica</label>
                                         <div class="col-md-4">
                                             <input type="text" class="form-control input-circle" name="surname" placeholder="Wprowadź Nazwisko">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Imię Dziecka</label>
                                         <div class="col-md-4">
                                             <input type="text" class="form-control input-circle" name="child_name" placeholder="Wprowadź imię">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Nazwisko Dziecka</label>
                                         <div class="col-md-4">
                                             <input type="text" class="form-control input-circle" name="child_surname" placeholder="Wprowadź Nazwisko">
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Adres Email</label>
                                         <div class="col-md-4">
                                             <div class="input-group">
                                                                <span class="input-group-addon input-circle-left">
                                                                <i class="fa fa-envelope"></i>
                                                                </span>
                                                 <input type="email" class="form-control input-circle-right" name="email" placeholder="Adres Mailowy">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Telefon</label>
                                         <div class="col-md-4">
                                             <div class="input-group">
                                                 <span class="input-group-addon input-circle-left">
                                                                <i class="fa fa-phone"></i>
                                                 </span>
                                                 <input type="text" class="form-control input-circle-right" name="phone" placeholder="Telefon">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Szkoła</label>
                                         <div class="col-md-4">
                                             <div class="input-group">
                                                 <span class="input-group-addon input-circle-left">
                                                                <i class="fa fa-dollar"></i>
                                                 </span>
                                                 <input type="text" class="form-control input-circle-right" name="school" placeholder="Szkoła">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Klasa (cyfra)</label>
                                         <div class="col-md-4">
                                             <div class="input-group">
                                                 <span class="input-group-addon input-circle-left">
                                                                <i class="fa fa-plus-square"></i>
                                                 </span>
                                                 <input type="text" class="form-control input-circle-right" name="class_digit" placeholder="3">
                                             </div>
                                         </div>
                                     </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Klasa (litera)</label>
                                         <div class="col-md-4">
                                             <div class="input-group">
                                                 <span class="input-group-addon input-circle-left">
                                                                <i class="fa fa-plus-square"></i>
                                                 </span>
                                                 <input type="text" class="form-control input-circle-right" name="class_letter" placeholder="A">
                                             </div>
                                         </div>
                                     </div>
                                     <div>
                                         <div class="row">
                                             <div class="col-md-offset-3 col-md-9">
                                                 <button type="submit" class="btn btn-circle blue" id="add_user">Dodaj Fiszkę</button>
                                             </div>
                                          </div>
                                      </div>
                             </form>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
 {% endblock %}
 {%  block stylesheets %}
     {{  parent () }}
     <link rel="stylesheet" type="text/css" href="{{ asset('assets/global/plugins/bootstrap-datepicker/css/datepicker.css') }}">
 {% endblock %}
 {% block javascripts %}
     {{  parent() }}
     <script src="{{ asset('assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js') }}" type="text/javascript"></script>
     <script type="text/javascript" src="{{ asset('assets/global/plugins/select2/select2.min.js') }}"></script>
     <script src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
     <script src="{{ asset('assets/global/plugins/jquery-validation/js/additional-methods.min.js') }}" type="text/javascript"></script>
     <script src="{{ asset('bundles/admin/js/Fiche/validation/add-validation.js') }}" type="text/javascript"></script>
     <script>
         $(document).ready(function(){
         FormValidation.init('{{ path('add_fiche') }}');

             jQuery.extend(jQuery.validator.messages, {
                 required: "To pole jest wymagane",
                 email: "Proszę podać poprawny adres mailowy",
                 number: "Proszę podać poprawny numer telefonu",
                 digits: "Proszę podać cyfrę"
             });
         })
     </script>
 {% endblock %}

